@model BetaViews.Messages.Models.RelDepartamentos
@{

}

<div class="row">
    @if (!Model.TopMaisAvaliados.Any() && !Model.TopMenosAvaliados.Any())
    {
        <div class="col-xs-12">
            <div class="alert alert-warning alert-dismissible" role="alert">
                <strong>ops!</strong> Não existe itens no momento.
            </div>
        </div>
    }
    @if (Model.TopMaisAvaliados.Any()) { 
    <div class="col-xs-6 col-xs-12">
        <section class="panel">
            <header class="panel-heading panel-heading-transparent">
                <h2 class="panel-title">Top 10 mais avaliados</h2>
            </header>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped mb-none">
                        <thead>
                            <tr>
                                <th>Departamento</th>
                                <th>Total valiado</th>
                                <th>
                                    <a href="#" data-toggle="tooltip" title="Média global de todos os produtos desse departamento">Média Global</a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.TopMaisAvaliados)
                            {
                                <tr>
                                    <td style="max-width:50%;">
                                        @item.Departamento
                                    </td>
                                    <td>
                                        <span class="text-capitalize text-weight-bold">@item.TotalAvaliacoes</span>
                                    </td>
                                    <td style="min-width:190px;">
                                        <span class="average">@item.MediaTotal</span>
                                        <div id="p5sScore" class="p5s-rating-display" data-average-score="@item.MediaTotal.ToString().Replace(",", ".")">
                                        </div>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
    }
    <div class="divider"></div>
    @*MENOS AVALIADOS*@

    @if (Model.TopMenosAvaliados.Any())
    {
    <div class="col-xs-6 col-xs-12">
        <section class="panel">
            <header class="panel-heading panel-heading-transparent">
                <h2 class="panel-title">Top 10 com menor avaliação</h2>
            </header>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped mb-none">
                        <thead>
                            <tr>
                                <th>Departamento</th>
                                <th>Total valiado</th>
                                <th>
                                    <a href="#" data-toggle="tooltip" title="Média global de todos os produtos desse departamento">Média Global</a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.TopMenosAvaliados)
                            {
                                <tr>
                                    <td style="max-width:50%;">
                                        @item.Departamento
                                    </td>
                                    <td>
                                        <span class="text-capitalize text-weight-bold">@item.TotalAvaliacoes</span>
                                    </td>
                                    <td style="min-width:190px;">
                                        <span class="average">@item.MediaTotal</span>
                                        <div id="p5sScore" class="p5s-rating-display" data-average-score="@item.MediaTotal.ToString().Replace(",", ".")">
                                        </div>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
    }


</div>




